.product_page {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 85vw;
  padding-top: 20px;
  .left {
    display: flex;
    width: 49vh;
    height: 100%;
    .product-overlay {
      display: flex;
      padding-left: 20px;

      flex-direction: column;

      height: 95%;
      video {
        width: 100%;
        height: 89%;

        object-fit: contain;
        border-radius: 15px;
      }
    }
  }
  .right {
    padding-left: 30px;
    .top {
      display: flex;
      flex-direction: column;
      span {
        font-size: 47px;
        font-weight: 600;
        font-family: "Google Sans";
        color: #000;
        margin-right: 10px;
      }
      label {
        font-size: 18px;
        font-weight: 600;
        font-family: "GT America";
        color: #a3a3a3;
        margin-right: 10px;
      }
    }
    .price {
      margin-top: 20px;
      span {
        font-size: 28px;
        font-weight: 600;
        font-family: "GT America";
        color: #000;
      }
    }
    .book-div {
      margin-top: 20px;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        border-radius: 60px;
        font-size: 20px;
        font-weight: 600;
        font-family: "GT America";
        width: max-content;
        transition: all 0.3s ease;
        border-width: 1.5px;
        border-style: solid;
        border-color: #000;
        &:hover {
          color: #000;
          transition: all 0.3s ease;
          background-color: #fff;
        }
      }
    }
  }
}
